run = "./serve.sh"
hidden = [ "deno.json", ".git", "shell.nix", ".prettierignore" ]

[nix]
  channel = "unstable"

[languages]

  [languages.javascript]
    pattern = "**/{*.js}"

    [languages.javascript.languageServer]
      start = "deno lsp"
